@font-face {
    font-family: "Minecraft";
    font-weight: normal;
    font-style: normal;
    src: url("minecraftregular.otf");
}

html {
    font-size: 1.125rem;
}

@media only screen and (max-width: 1100px) {
    html {
        font-size: 1rem;
    }
}

body {
    background-color: #333;
    color: white;
    margin: 1rem;
    font-family: 'Noto Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

button {
    font-family: inherit;
    color: white;
    font-size: inherit;
    font-weight: bold;
    background-color: rgb(54, 162, 235);
    padding: 0.5rem 1rem;
    border-width: 0;
    border-radius: 8px;
    transition: background-color 0.2s;
}
    button:disabled {
        background-color: rgb(138, 138, 138);
    }
        button:disabled:hover {
            cursor: not-allowed;
        }
    button:not(:disabled):hover {
        cursor: pointer;
        background-color: rgb(44, 132, 191);
    }
    button:not(:disabled):active {
        background-color: rgb(39, 116, 168);
    }

input[type=text], input[type=date], select {
    font-family: inherit;
    color: white;
    font-size: inherit;
    font-weight: normal;
    background-color: #111;
    padding: 0.5rem 1rem;
    border-width: 0;
    border-radius: 8px;
    color-scheme: dark;
}

label {
    margin-right: 0.5rem;
}

a {
    color: #ccc;
    text-decoration: underline;
    transition: color 0.2s;
}
    a:visited {
        color: #ccc;
    }
    a:hover {
        color: white;
    }

header {
    text-align: center;
}

#headerLinks  {
    position: absolute;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: flex-start;
    align-content: flex-start;
    gap: 2rem;
    margin: 0 1rem;
    width: calc(100% - 4rem);
}
    @media only screen and (max-width: 750px) {
        #headerLinks {
            margin-top: -1rem;
        }
    }

.header-link {
    flex: 0 0 auto;
    font-size: 0.8rem;
}

details {
    margin-top: 1em;
    margin-bottom: 1em;
}
    details > summary {
        cursor: pointer;
    }
    details > p {
        margin-left: 1em;
        margin-top: 0.5em;
    }

.switch {
    position: relative;
    display: inline-block;
    height: 2rem;
    cursor: pointer;
}
    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }
    .switch > label {
        position: absolute;
        left: 5rem;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        user-select: none;
        font-weight: bold;
    }

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    width: 4rem;
    height: 2rem;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 2rem;
}
    .slider:before {
        position: absolute;
        content: "";
        height: 1.5rem;
        width: 1.5rem;
        left: 0.25rem;
        bottom: 0.25rem;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
        border-radius: 50%;
    }
    input:checked + .slider {
        background-color: rgb(54, 162, 235);
    }
    input:focus + .slider {
        box-shadow: 0 0 1px rgb(54, 162, 235);
    }
    input:checked + .slider:before {
        -webkit-transform: translateX(2rem);
        -ms-transform: translateX(2rem);
        transform: translateX(2rem);
    }

.sidebar-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: stretch;
}

.sidebar-content {
    flex: 0 1 1100px;
}

.leftalign-flex-container {
    display:flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem 1rem;
}
    .leftalign-flex-container > * {
        flex: 0 0 auto;
    }

.multi-element-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    gap: 0.5rem 0.5rem;
}

.multi-element-item {
    font-size: 0.8rem;
    padding: 0.25rem 0.5rem;
    background-color: rgb(54, 162, 235);
    border-radius: 4px;
    gap: 0 0.25rem;
}

.multi-element-delete-button {
    padding: 0;
    width: 1rem;
    height: 1rem;
}

.alert-time-input {
    width: 2.5rem;
    text-align: center;
}

.monospace {
    font-family: 'Minecraft', 'Courier New', Courier, monospace;
}

.no-margin {
    margin: 0;
}

.error-text {
    color: #ff6666;
}

.warning-text {
    color: #ffff66;
}

#chartControls {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-end;
    gap: 0.5rem;
    height: 5rem;
    margin-top: 1rem;
}

#chartContainer {
    height: min(calc(100vh - 4.5rem), calc(100vw - 1rem));
    position: relative;
}

.page-error {
    position: absolute;
    top: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    cursor: default;
    user-select: none;
}
    .page-error > div {
        flex: 0 0 auto;
        max-width: 100%;
        box-sizing: border-box;
        padding: 1rem;
        background-color: #111;
        border: 4px solid #ff6666;
        color: #ff6666;
        text-align: center;
        font-size: 2rem;
        font-weight: bold;
    }

.swipe-vertical-animation {
    overflow: hidden;
    transition: max-height 0.5s;
}

.swipe-vertical-animation-hidden {
    max-height: 0 !important;
}

.live-timer {
    user-select: none;
}

#bigTimerContainer {
    height: min(calc(100vh - 2rem), calc(100vw - 1rem));
    margin-top: 2rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    container-type: inline-size;
    container-name: bigTimer;
}

#bigTimer {
    font-size: 2rem;
}
@container bigTimer (min-width: 300px) {
    #bigTimer { font-size: 4rem; }
}
@container bigTimer (min-width: 450px) {
    #bigTimer { font-size: 6rem; }
}
@container bigTimer (min-width: 600px) {
    #bigTimer { font-size: 8rem; }
}
@container bigTimer (min-width: 1800px) {
    #bigTimer { font-size: 12rem; }
}
@container bigTimer (min-width: 2400px) {
    #bigTimer { font-size: 16rem; }
}
@container bigTimer (min-width: 3600px) {
    #bigTimer { font-size: 24rem; }
}
@container bigTimer (min-width: 4800px) {
    #bigTimer { font-size: 32rem; }
}

#loadingScreen {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
}

.loading-blocker {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    user-select: none;
    cursor: default;
}

.loading-content {
    flex: 0 0 auto;
    max-width: 100%;
    box-sizing: border-box;
    text-align: center;
}

.loading-text {
    font-size: 2rem;
    margin: 1rem 0;
}

.loading-image {
    height: 6rem;
}